@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

header{
   width: 100% ;
 height: 10%; 
}

#logo {
   width: 150px;
   height: 150px;
   padding: 20px;
}

h1 {
  font-size: 70px;
    /* display: inline; */
    /* margin: auto; */
    margin-left: 30%;
    margin-right: 30%;
    color: #166834;
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;

   

}

body {
   width: 100%;
   height: 100%;
   background-image: url(https://cdn.pixabay.com/photo/2016/03/27/07/32/light-1282314_960_720.jpg);
   background-repeat: no-repeat;
   background-color: #ebecec;
   background-size: cover;
  

}

header {
 background-color:  rgb(254 254 254);
 height: 80px;
    /* box-shadow: 10px 10px #ece0e0; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

nav {
  width: 1000px;
  /* margin-left: 50px; */
  margin: auto;
}

header img {
  float: left;
  margin-right: 30px;
  width:100px;
  height: 70px;
  margin-top: 5px;
}

header ul li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 100px;
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(3, 32, 10);
}

main {
   height: 100%;
   
}


footer {
  clear: both;
  display: flex;
  background-color: #00bcd44d;
  margin-bottom: 0%;
  width: 100%;
  height: 3%;
  text-align: center;
  font-size: x-large;
  
}

#footerP {
    padding: 20px;
    color: #77051e;
    text-align: center;
    margin: auto;
    
}

#imagesDiv {
   text-align: center;
   padding: 20px;
   display: -webkit-inline-box;
  
}

.imagesDiv {
   width: 350px;
   height: 300px;
   border: 2px solid;
   margin: 30px;
   display: inline;
   
}

#showResults {
   width: 200px;
   height: 50px;
   border-radius: 20px;
   margin-left: 30%;
   color: #140206;
   font-size: x-large;
   border-color: rgb(190, 205, 218);
   box-shadow: 0 5px #999;
   cursor: pointer;
  outline: none;
  background-color:#62bbeeb5;
}


#showResults :hover {background-color: #3e8e41}

#showResults :active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#resultsList{
  column-count: 2;
  width: 100%;  padding-left: 10px; margin-left: 150px; margin-top: 35px;
  list-style-type:disc;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  line-height: 50px;
}

.mainWelcome {
   margin-left:25px;
   font-size:40px;
   color: #f6416c;
   margin-top: 80px;
   font-family: fantasy;
}

.mainP {
  font-size: 18px;
  margin-left: 50px;
  margin-top: 20px;
  color: #141ed2;
  line-height: 30px;

}



canvas{

   width:1200px !important;
   height:800px !important;
   margin-left: 60px;
 
 }

 #form {
  border: 2px solid black;
    width: 350px;
    height: 100px;
    background-color: #7dffe459;
    color: #250202;
    margin-left: 100px;
    margin-top: 40px;
    font-size: x-large;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
 
}

.grid {
  margin-top: 30px;
}
.col-1-2 {
  width: 50%;
}
[class*='col-'] {
  float: left;
}